.container {
    min-height: 100vh;
    padding: 0px 15% 50px 15%;

    box-sizing: border-box;
}

.title {
    padding-top: 20vh;
    font-size: 28pt;
    color: #C3073F;
}

.splash {
    padding-bottom: 50px;
}

.how {
    font-size: 22pt;
    color: #C3073F;
}

.contactLink {
    text-decoration: none;
    color: white;
}
